@media all, screen and (orientation : landscape){
    body 
    {
        font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
        background-color: #233333;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        font-size: 1.3em;
        font-weight: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    pre{
        width: 70%;
        border: 0;
        margin: 0 auto;
        margin-left: 0;
        padding: 0;
        font-size: 1em;
        background-color: #FFFFFF;
        overflow-y: auto;
    }

    footer
    {
        width: 1024px;
        height: 25px;
        margin: 0 auto;
        margin-top: 1%;
        color: #a2a2a2;   
    }

    #background, .buildPage, .devBack{
        background-color: #FFFFFF;
        width: 98%;
        height: 97.5%;
        margin: 1%;
        padding: 5px;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
    }

    .container-fluid, .devInfo{
        background-color: #A1AAA1;
        width: 1024px;
        height: 800px;
        margin: 0 auto;
        margin-top: 1%;
        padding: 0;
        border-radius: 1px;
        position: relative;
    }

    .devInfo
    {
        height: 300px;
        padding: 5px;
    }

    .devBack
    {
        background-color: #efefef;
        margin: 0px;
        width: 100%;
        height: 100%;
    }

    .text
    {
        width:100px;
        height: 50px;
        padding: 10px;
        margin: 0 auto;
        background-color: bisque;
        font-size: 26px;
        text-align: center;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #logindiv
    {
        vertical-align: middle;
        position: absolute;
        left: 33%;
        top:45%;
        border-radius: 10px;
        padding-bottom: 25px;
    }

    #regwrapper #singnwrapper
    {
        position: absolute;
        margin-top: 30px;
    }

    .title
    {
        position: absolute;
        top:18%;
        left:35.5%;
        font-size: 56px;
        color: #666;
    }

    .signTitle
    {
        font-size: 17px;
        margin-bottom: 18px;
        margin-top: 18px;
        height: 25px;
    }

    #nav_signup
    {
        margin-right: 10px;
    }

    a
    {
        color: #999;
    }

    a.active 
    {
        opacity: 1;
        -ms-filter: "alpha(Opacity=100)";
        color: #0f88eb;
        padding-bottom: 5px;
        border-bottom:2px solid #0f88eb
    }

    #nav_signup:hover
    {
        cursor:pointer
    }

    #nav_signin:hover
    {
        cursor:pointer
    }

    #signinBtn,#signupBtn
    {
        margin-top: 18px;
        background: #0f88eb;
        box-shadow: none;
        border: 0;
        border-radius: 3px;
        color: #fff;
        font-size: 15px;
    }

    #signinBtn:hover
    {
        background: #55abed;
    }

    .input-wrapper
    {
        position: relative;
        margin: 0;
        overflow: hidden;
    }

    .error
    {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 0 4px;
        color: #c33;
        cursor: text;
    }

    .errormsg
    {
        color: #c33;
        cursor: text;
        margin-top: 16px;
        text-align: center;
        font-weight: 700;
    }

    .clickArea
    {
        width:100px;
        height: 30px;
        background-color: cornflowerblue;
        padding: 10px;
        margin: 10px;
        color: white;
        font-size: 26px;
        cursor: pointer;
        text-align: center;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
