<!DOCTYPE html>
<html oncontextmenu="javascript:event.preventDefault();">
	<head>
		
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
		<meta http-equiv="Cache-Control" content="max-age:259200">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="format-detection" content="telephone=no">
		<!-- uc强制竖屏 <meta name="screen-orientation" content="portrait"> -->
		<!--UC强制全屏--> <meta name="full-screen" content="yes"> 
		<!-- QQ强制竖屏 <meta name="x5-orientation" content="portrait"> -->
		<!-- QQ强制全屏--> <meta name="x5-fullscreen" content="true"> 
		<!--<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" >-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ static_url('js/jquery.color-2.1.2.min.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/jquery.cookie.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/jquery.md5.js') }}"></script>
		<link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
		<link rel="stylesheet" href="{{ static_url("css/style.css") }}">
		<title>{{ page_title }}</title>
	</head>
	</body>
		<div class="container-fluid">
			<div id="background">
				<div id="content">
					{% block body %}{% end %}
				</div>
			</div>
		</div>
		<footer class="footer">
			{% block footer %}{% end %}
		</footer>
		{% block dev %}{% end %}
	</body>
	{% block scripts %}{% end %}
</html>